
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
assets/design/
temp/
local/
#//////////////////////////
# NPM
#//////////////////////////

#//////////////////////////
# VSCode
#//////////////////////////

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/